footer{
    background-color: rgb(228, 197, 151);
    color: #623763;
    margin: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    p{
        margin: 0;
    }
}